.icon {
  width: 1.5rem;
  height: 2rem;
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  background-color: inherit;
}

.icon__sun {
  color: rgb(255, 255, 0);
}
.icno__moon {
  color: black;
}
